# Maven / Spring Boot
test-app/target/*
test-app/.mvn/
test-app/*.jar
test-app/*.war

# Python env
exploit/*

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# OS X
.DS_Store
.DS_Store?
._*

# IDE (keep workspace settings)
.vscode/*
